<!DOCTYPE html>
<html>
<head>
  <title>RuthProject</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="alert alert-info">

  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
</div>

<%= render 'layouts/header' %>

<div class="container" style="margin-top:50px;">
  <%= yield %>
</div>

</body>
</html>
